.title, .subtitle, .text{
    color: rgb(226, 173, 173);
}

.post {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 500px;
}
.post background{
    color: black;
}

.mediafire {
    color: rgb(49, 47, 223);
    font-family: Arial, Helvetica, sans-serif;
    font: arial italic bolder;
}
.mediafire a {
    color: mediumblue;
}

.img-trigger {
    width: 100% ;
}

.pagina {
    text-align: center;
}